
@{
    ViewBag.Title = "Home";
}
@using MvcApplicationEvents.Models;
@model List<Event>

<br />
    <div class="container_16">
        <div class="grid_1 pull_1">
            <form role="form" class="form-horizontal" action=@Url.Action("Goforms", "Home" , new { @class = "btn btn-primary btnOpmaak" }) method="post">

                <div class="form-group">
                    <div class="">
                        <input name="button" type="submit" value="Tijdlijn" class="btn btn-primary btnOpmaak" />
                    </div>
                </div>


                <div class="form-group">
                    <div class="">
                        <input name="button" type="submit" value="Materiaal" class="btn btn-primary btnOpmaak" />
                    </div>
                </div>


                <div class="form-group">
                    <div class="">
                        <input name="button" type="submit" value="Event Aanmaken" class="btn btn-primary btnOpmaak" />
                    </div>
                </div>


                <div class="form-group">
                    <div class="">
                        <input name="button" type="submit" value="betalingsstatus" class="btn btn-primary btnOpmaak" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="">
                        <input name="button" type="submit" value="Event Informatie" class="btn btn-primary btnOpmaak" />
                    </div>
                </div>


                <div class="form-group">
                    <div class="">
                        <input name="button" type="submit" value="Reserveren" class="btn btn-primary btnOpmaak" />
                    </div>
                </div>


                <select name="EventName">
                    @foreach (Event E in Model)
                    {
                        <option>@E.Name</option>
                    }
                </select>
            </form>

            @*<div>
                @Html.DropDownList("EventList")    
            </div>*@
         
        </div>
        <div class="grid_1 push_2">
            <img src="~/Content/Images/Frontpage.jpg">
        </div>
        <!--Account sidebar-->
        <div class="grid_1 push_11">
            <div class="logo">
                <img src="~/Content/Images/4Events.jpg">
                <p class="logotext">ICT4Events</p>
            </div>
            @Html.ActionLink("Account", "Account", "Account", new { area = "" }, new { @class = "btn btn-primary btnOpmaak2" })
        </div>
    </div>
