
@{
    ViewBag.Title = "Home";
}
@using MvcApplicationEvents.Models;
@model List<Event>

<br />
    <div class="container_16">
        <div class="grid_1 pull_1">
            <form role="form" class="form-horizontal" action=@Url.Action("TimelinePage", "TimelinePage" , new { @class = "btn btn-primary btnOpmaak" }) method="post">

                <div class="form-group">
                    <div class="">
                        <input name="Shopping" type="submit" value="Tijdlijn" class="btn btn-primary btnOpmaak" />
                    </div>
                </div>
            </form>
            <form role="form" class="form-horizontal" action=@Url.Action("MaterialPage", "MaterialPage" , new { @class = "btn btn-primary btnOpmaak" }) method="post">

                <div class="form-group">
                    <div class="">
                        <input name="Shopping" type="submit" value="Materiaal" class="btn btn-primary btnOpmaak" />
                    </div>
                </div>
            </form>
            @if (CurrentAccount.ID == 2)
            {
                <form role="form" class="form-horizontal" action=@Url.Action("CreateEvent", "CreateEvent" , new { @class = "btn btn-primary btnOpmaak" }) method="post">

                    <div class="form-group">
                        <div class="">
                            <input name="Shopping" type="submit" value="Event Aanmaken" class="btn btn-primary btnOpmaak" />
                        </div>
                    </div>
                </form>
            }
            <form role="form" class="form-horizontal" action=@Url.Action("Shopping", "Shopping" , new { @class = "btn btn-primary btnOpmaak" }) method="post">

                <div class="form-group">
                    <div class="">
                        <input name="Shopping" type="submit" value="Betalingsstatus" class="btn btn-primary btnOpmaak" />
                    </div>
                </div>
            </form>
            <form role="form" class="form-horizontal" action=@Url.Action("btnEventInformation", "Home" , new { @class = "btn btn-primary btnOpmaak" }) method="post">

                <div class="form-group">
                    <div class="">
                        <input name="Shopping" type="submit" value="Eventinformatie" class="btn btn-primary btnOpmaak" />
                    </div>
                </div>
            </form>
            <form role="form" class="form-horizontal" action=@Url.Action("ReservationsPage", "ReservationsPage", new { @class = "btn btn-primary btnOpmaak" }) method="post">

                <div class="form-group">
                    <div class="">
                        <input name="Shopping" type="submit" value="Reserveren" class="btn btn-primary btnOpmaak" />
                    </div>
                </div>
            </form>
       
                <select>
                    @foreach (Event E in Model)
                    {
                        <option value="@E.ID">@E.Name</option>
                    }
                </select>
         
        </div>
        <div class="grid_1 push_2">
            <img src="~/Content/Images/Frontpage.jpg">
        </div>
        <!--Account sidebar-->
        <div class="grid_1 push_11">
            <div class="logo">
                <img src="~/Content/Images/4Events.jpg">
                <p class="logotext">ICT4Events</p>
            </div>
            @Html.ActionLink("Account", "Accountview", "Accountview", new { area = "" }, new { @class = "btn btn-primary btnOpmaak2" })
        </div>
    </div>
