
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
<button>@Html.ActionLink("Event", "Event", "Event", new { area = "" }, new { @class = "navbar-brand" })</button>
<button>@Html.ActionLink("Timeline", "TimelinePage", "TimelinePage", new { area = "" }, new { @class = "navbar-brand" })</button>
<button>@Html.ActionLink("Account", "Accountview", "Accountview", new { area = "" }, new { @class = "navbar-brand" })</button>
<button>@Html.ActionLink("Reservations", "ReservationsPage", "ReservationsPage", new { area = "" }, new { @class = "navbar-brand" })</button>


