
@{
    ViewBag.Title = "MaterialPage";
}
<br />
<div class="container_16">
    <div class="grid_1">
        <form>
            <textarea class="materiallist" type="text" name="Eventdescription" rows="20">Materiaal Beschikbaar</textarea>
        </form>
        <button class="buttonstyle3">@Html.ActionLink("Naar Event", "CreateEvent", "CreateEvent", new { area = "" }, new { @class = "navbar-brand" })</button><br />   
    </div>
    <div class="grid_1 push_5">
        <form>
            <textarea class="materiallist" type="text" name="Eventdescription" rows="20">Materiaal Event</textarea>
        </form>
        <button class="buttonstyle3">@Html.ActionLink("Uit Event", "CreateEvent", "CreateEvent", new { area = "" }, new { @class = "navbar-brand" })</button><br /> 
        <button class="buttonstyle2">@Html.ActionLink("Opslaan", "CreateEvent", "CreateEvent", new { area = "" }, new { @class = "navbar-brand" })</button><br />
    </div>
    <!--Account sidebar-->
    <div class="grid_1 push_11">
        <div class="logo">
            <img src="~/Content/Images/4Events.jpg">
            <p class="logotext">ICT4Events</p>
        </div>
        @Html.ActionLink("Account", "Accountview", "Accountview", new { area = "" }, new { @class = "btn btn-primary btnOpmaak2" })
    </div>
</div>

