################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.doc
/4EventsMvc/MvcApplicationEvents/Properties/PublishProfiles
/4EventsMvc/MvcApplicationEvents/obj/Release
