
@{
    ViewBag.Title = "CreateEvent";
}

<br />
<div class="container_16">
    <div class="grid_3 push_4">
        <form role="form" class="form-horizontal" action=@Url.Action("btnCreate", "CreateEvent") method="post">
            Eventnaam:
            <input class="form-control" type="text" name="Eventname"><br>
            Eventbeschrijving:
            <textarea class="form-control btnOpmaak3" type="text" name="Eventdescription" cols="60" rows="6"></textarea>

            <p>Locatie:</p>
            <select class="form-control" name="Location">
                <option value="Tilburg">Tilburg</option>
                <option value="Amsterdam">Amsterdam</option>
                <option value="Den Haag">Den Haag</option>
            </select>

            Begin Eventdatum
            <input type="date" class="form-control" name="EventDatestart" min="@DateTime.Now.Year-@DateTime.Now.Month-@DateTime.Now.Day"><br>

            Eind Eventdatum
            <input type="date" class="form-control" name="EventDateend" min="@DateTime.Now.Year-@DateTime.Now.Month-@DateTime.Now.Day"><br>

            Max aantal Bezoekers:
            <input class="form-control" type="number" name="quantity" min="5"><br />

            <div class="grid_1 pull_0">
                <input type="submit" class="btn btn-primary btnOpmaak1" value="Create Event" />
            </div>
        </form>
    </div>





    <!--Account sidebar-->
    <div class="grid_1 push_10">
        <div class="logo">
            <img src="~/Content/Images/4Events.jpg">
            <p class="logotext">ICT4Events</p>
        </div>
        @Html.ActionLink("Account", "Account", "Account", new { area = "" }, new { @class = "btn btn-primary btnOpmaak2" })
    </div>
</div>

