
@{
    ViewBag.Title = "TimelinePage";
}
@using MvcApplicationEvents.Models;
@using MvcApplicationEvents.Controllers;
@model List<Contribution>


<br />
<div class="container_16">
    <div class="grid_9 pull_1">
        @using (Html.BeginForm())
        {
        foreach(Contribution ctrib in Model)
        {
            <p>@ctrib.Message.Content @ctrib.Likes<a href="#" onclick="@{((TimelinePageController)this.ViewContext.Controller).Like(Convert.ToInt32(ctrib.ID));};window.location.reload()">">Like</a></p>
        }
        }
        <div class="grid_1 push_4">
            <form role="form" class="form-horizontal" onclick="alert(getSelectedItems());" method="post">
                <div class="form-group">
                    <input type="button" value="Filter Posts" class="btn btn-primary btnOpmaak7" />
                </div>
            </form>  
        </div>
        <div class="grid_1 push_7">
            <div class="marginsforbuttonstimeline">
                <form role="form" class="form-horizontal" method="post">
                    <div class="form-group">
                        <input type="submit" value="Like" class="btn btn-primary btnOpmaak7" />                                              
                    </div>
                </form>       
                <form role="form" class="form-horizontal" method="post">
                    <div class="form-group">
                         <input type="button" value="Report" class="btn btn-primary btnOpmaak7" />
                    </div>
                </form>  
                <form role="form" class="form-horizontal" method="post">
                    <div class="form-group">
                         <input type="button" value="Open" class="btn btn-primary btnOpmaak7" />
                    </div>
                </form>  
                <form role="form" class="form-horizontal" method="post">
                    <div class="form-group">
                         <input type="button" value="Download" class="btn btn-primary btnOpmaak7" />
                    </div>
                </form>  
                    </div>
            </div>
        <br />
        <div class="grid_1 pull_2">
            <form>
                <textarea id="postbox" class="postbox" type="text" name="Post Box" rows="5">Write text Here</textarea>
            </form>
            <div class="grid_1">
                <div class="paddingfortimeline">
                    <select>
                        <option value="Mededeling">Mededeling</option>
                        <option value="Muziek">Muziek</option>
                        <option value="Entertainment">Entertainment</option>
                        <option value="Gezelligheid">Gezelligheid</option>
                    </select>
                    <form role="form" class="form-horizontal" onclick="alert(Gettext());" method="post">
                        <div class="form-group">
                            <input type="button" value="Post" class="btn btn-primary btnOpmaak7" />
                        </div>
                    </form>  
                </div>
            </div>
        </div>
    </div>
    <!--Account sidebar-->
    <div class="grid_1 push_4">
        <div class="logo">
            <img src="~/Content/Images/4Events.jpg">
            <p class="logotext">ICT4Events</p>
        </div>
        @Html.ActionLink("Account", "Account", "Account", new { area = "" }, new { @class = "btn btn-primary btnOpmaak2" })
    </div>
</div>
