
@{
    ViewBag.Title = "ReservationView";
}
@using MvcApplicationEvents.Models;
@model List<Reservation>

<h2>ReservationView</h2>

@foreach (Reservation A in Model)
{
    <p>@A.ID  @A.Account.Username  @A.Event.Name</p> 
}

