
@{
    ViewBag.Title = "Accountview";
}
<br />
<div class="container_16">
    <div class="grid_1 pull_1">
        @Html.ActionLink("Account Aanmaken", "TimelinePage", "TimelinePage", new { area = "" }, new { @class = "btn btn-primary btnOpmaak6" })<br />
        @Html.ActionLink("Account Aanpassen", "MaterialPage", "MaterialPage", new { area = "" }, new { @class = "btn btn-primary btnOpmaak6" })<br />
        @Html.ActionLink("Account Verwijderen", "CreateEvent", "CreateEvent", new { area = "" }, new { @class = "btn btn-primary btnOpmaak6" })<br />       
    </div>
    <div class="grid_1 push_2">
        <form>
            <textarea class="accountlist" type="text" name="Eventdescription" rows="20"></textarea>
        </form>
    </div>
    <!--Account sidebar-->
    <div class="grid_1 push_11">
        <div class="logo">
            <img src="~/Content/Images/4Events.jpg">
            <p class="logotext">ICT4Events</p>
        </div>
        @Html.ActionLink("Account", "Account", "Account", new { area = "" }, new { @class = "btn btn-primary btnOpmaak2" })
    </div>
</div>

